main {
    height: 200vw !important;
    display: flex !important;
    flex-direction: row !important;
}

.caixaDeBusca-container {
    position: relative;
    display: inline-block;
    margin-right: 25vw;
}

.caixaDeBusca {
    border-radius: 20px;
    border: 1px solid black;
    width: 25vw;
    height: 4vh;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 30px;
}

#lupa{
    position: absolute;
    right: 8px; /* distância da borda direita */
    top: 50%;
    transform: translateY(-50%); /* centraliza verticalmente */
    width: 16px; /* ajusta tamanho */
    height: 16px;
    cursor: pointer;
}

.estilizaUnidade {
    background-color: rgb(19, 121, 108);
    color: white;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 12px;
    height: 4vh;
    width: 15vw;
    margin-right: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alinhaFiltros {
    width: 20vw;
}

.alinhaConteudo {
    width: 80vw;
}

.marcas-container{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.boxMarcas-container{
    display: flex;
    flex-direction: row;
}

.boxMarcas {
    margin-top: 5vh;
    width: 15vw;
    height: 30vh;
    border-radius: 20px;
    border: 8px solid rgb(101, 119, 117);
    margin-right: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logosMarcas {
    width: 15vw;
    height: 25vh;
    margin: 2vh;
}